<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="First suite" verbose="1"  parallel="classes" thread-count="8">

    <!--这个用途不大，到测试数据的时候再-->

    <test name="all" enabled="false">
        <packages>
            <package name="com.wukong.examples.controller.*"/>
        </packages>
    </test>

    <test name="testByClass" enabled="true">
        <classes>
            <class name="com.wukong.examples.controller.HelloControllerTests"/>
        </classes>
    </test>
</suite>

